services:
  # 1. CENTRAL NODE (Server)
  central-node:
    build:
      context: .
      dockerfile: ./central-node/Dockerfile
    container_name: central-node
    ports:
      - "50051:50051"
    environment:
      - GRPC_PORT=50051
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=iot_data
    depends_on:
      - mongodb
    volumes:
      - ./hasil_analisis:/app/data:Z
    networks:
      - iot-net

  # 2. DATABASE (MongoDB)
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - iot-net

  # 3. EDGE NODE (Client)
  edge-node:
    build:
      context: ./edge-node
      dockerfile: Dockerfile
    container_name: edge-node
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      - SERVER_ADDRESS=central-node:50051
    depends_on:
      - central-node
    networks:
      - iot-net

  # 4. PUMBA (Network chaos)
  pumba:
    image: docker.io/gaiaadm/pumba:latest
    command: >
      --interval 30s 
      --random 
      --duration 20s 
      netem --delay 500ms 
      edge-node
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:z
    security_opt:
      - label=disable
    networks:
      - iot-net

networks:
  iot-net:
    driver: bridge

volumes:
  mongo_data:
